html,body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(header.gif);
    font-family: 'Pacifico', cursive;
}
img{
    background: white;
    display: inline-block;
    border: #FFCAAD solid 5px;
    margin: 10px;
    transition: all 0.5s;
    border-radius: 50px;
}
img:hover{
    transform: scale(1.1);
    border-radius: 20px;
    background-color:#FFCAAD;
}
hr{
    max-width: 100px;
    border-width: 5px;
    border-color: #DB84CA;
}
.faded{
    color: #C4006F;
    background-color: antiquewhite;
    border-bottom: 15px solid salmon;
    margin-top: 50px;
    transition: all 1s;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 100px;
    margin-bottom: 50px;
}
p{
    font-size: 2em;
    width: 300px;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.faded:hover{
    transform: scale(1.3);
    border-bottom-width: 30px;
    border-radius: 30;
    margin-bottom: 50px;
}
header.happypanda {
    background-position: center;
    background-image: url("header.jpg");
    background-size: cover;
    height: 100%;
  }
header.happypanda hr {
    margin-top: 10px;
    margin-bottom: 10px; 
  }
header.happypanda h1{
    font-size: 2rem;
}
.btn{
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family:  'Pacifico', cursive;
}
.btn-xl {
    padding: 1rem 2rem; 
  }
.btn-primary{
    background-color: #F05F44;
  border-color: #F05F44;
  border-width: 10px; 
  transition: all 0.5s;
}
.btn-primary:hover {
    transform: scale(1.1);
background-color: #db4b32;
  border-color: #db4b32;
    
  }
    